<header>
    <div class="owl-carousel owl-theme">
        <div class="owl-carousel-img d-flex justify-content-center align-items-center">
          <div class="slider-img"></div>
              <div class="text-white text-center slider-overlay d-flex justify-content-center align-items-center">
                <div class="container">
                  <h2 class="fa-4x my-4">Healthy Food Delivery</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus earum ea exercitationem 
                    iste blanditiis facilis.adipisicing elit. Natus earum ea exadipisicing elit. Natus earum ea ex</p>
                    <div class="mt-5">
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main2">Read more <span class="rounded-pill d-none">Read more</span></button>
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main ">view plans <span class="rounded-pill"></span></button>
                    </div>
                </div>
              </div>
        </div>

        <div class="owl-carousel-img d-flex justify-content-center align-items-center">
          <div class="slider-img2"></div>
              <div class="text-white text-center slider-overlay d-flex justify-content-center align-items-center">
                <div class="container">
                  <h2 class="fa-4x my-4">Balanced Nutrition Diet</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus earum ea exercitationem 
                    iste blanditiis facilis.adipisicing elit. Natus earum ea exadipisicing elit. Natus earum ea ex</p>
                    <div class="mt-5">
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main2">Read more <span class="rounded-pill d-none">Read more</span></button>
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main ">view plans <span class="rounded-pill"></span></button>
                    </div>
                </div>
              </div>
        </div>

        <div class="owl-carousel-img d-flex justify-content-center align-items-center">
          <div class="slider-img3"></div>
              <div class="text-white text-center slider-overlay d-flex justify-content-center align-items-center">
                <div class="container">
                  <h2 class="fa-4x my-4">Muscle Gain Menus</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus earum ea exercitationem 
                    iste blanditiis facilis.adipisicing elit. Natus earum ea exadipisicing elit. Natus earum ea ex</p>
                    <div class="mt-5">
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main2">Read more <span class="rounded-pill d-none">Read more</span></button>
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main ">view plans <span class="rounded-pill"></span></button>
                    </div>
                </div>
              </div>
        </div>

        <div class="owl-carousel-img d-flex justify-content-center align-items-center">
          <div class="slider-img4"></div>
              <div class="text-white text-center slider-overlay d-flex justify-content-center align-items-center">
                <div class="container">
                  <h2 class="fa-4x my-4">Delicious Vegetarian Meals</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus earum ea exercitationem 
                    iste blanditiis facilis.adipisicing elit. Natus earum ea exadipisicing elit. Natus earum ea ex</p>
                    <div class="mt-5">
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main2">Read more <span class="rounded-pill d-none">Read more</span></button>
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main ">view plans <span class="rounded-pill"></span></button>
                    </div>
                </div>
              </div>
        </div>

        <div class="owl-carousel-img d-flex justify-content-center align-items-center">
          <div class="slider-img5"></div>
              <div class="text-white text-center slider-overlay d-flex justify-content-center align-items-center">
                <div class="container">
                  <h2 class="fa-4x my-4">Nutrition For a Fig Body</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus earum ea exercitationem 
                    iste blanditiis facilis.adipisicing elit. Natus earum ea exadipisicing elit. Natus earum ea ex</p>
                    <div class="mt-5">
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main2">Read more <span class="rounded-pill d-none">Read more</span></button>
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main ">view plans <span class="rounded-pill"></span></button>
                    </div>
                </div>
              </div>
        </div>

        <div class="owl-carousel-img d-flex justify-content-center align-items-center">
          <div class="slider-img6"></div>
              <div class="text-white text-center slider-overlay d-flex justify-content-center align-items-center">
                <div class="container">
                  <h2 class="fa-4x my-4">Low Calories Dishes</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus earum ea exercitationem 
                    iste blanditiis facilis.adipisicing elit. Natus earum ea exadipisicing elit. Natus earum ea ex</p>
                    <div class="mt-5">
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main2">Read more <span class="rounded-pill d-none">Read more</span></button>
                      <button class="btn text-white rounded-pill px-5 py-3 m-3 bg-main ">view plans <span class="rounded-pill"></span></button>
                    </div>
                </div>
              </div>
        </div>
      </div>

</header>
@code {

}
